In [31]:
import pandas as pd
import numpy as np

In [32]:
M = pd.read_csv('Movie Reviews - Sheet1.csv', index_col='Name')

In [33]:
def pearson(s1, s2):
    """Take two pd.Series objects and return a pearson correlation."""
    s1_c = s1 - s1.mean()
    s2_c = s2 - s2.mean()
    return np.sum(s1_c * s2_c) / np.sqrt(np.sum(s1_c ** 2) * np.sum(s2_c ** 2))

In [34]:
M

,American Sniper,The Hunger Games: Mockingjay - Part 1,Guardians of the Galaxy,The Lego Movie,The Hobbit,Transformers,Malificent,Big Hero 6,Godzilla,Interstellar,How to Train your Dragon 2,Gone Girl,Divergent,The Fault in Our Stars,Unbroken,300: Rise of an Empire
Name,,,,,,,,,,,,,,,,
Mike,NaN,NaN,5,NaN,4,NaN,3,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,2
HJ SONG,NaN,2,3,4,4,5,NaN,4,4,5,5,NaN,NaN,NaN,5,5
Ryan Hansen,NaN,3,4,3,5,2,3,3,3,NaN,5,NaN,3,NaN,NaN,NaN
Olumuyiwa Durojaiye,NaN,NaN,NaN,NaN,NaN,5,NaN,5,2,NaN,3,NaN,NaN,NaN,NaN,2
Charlie,NaN,2,3,NaN,3,2,3,NaN,4,5,2,NaN,2,3,NaN,2
Sina Tuy,NaN,3,4,3,5,2,3,4,3,NaN,3,4,3,2,NaN,2
Pavithra Shetty,NaN,3,NaN,NaN,4,5,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN
Sara Collins,NaN,5,5,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN
Jonathan Doll,NaN,4,NaN,3,4,2,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN
saikiran reddy,3,4,4,NaN,4,5,4,NaN,5,5,4,4,2,5,NaN,2
Aishwarya reddy,NaN,3,4,3,4,4,3,NaN,4,4,3,5,NaN,4,NaN,3
Brant Mullinix,NaN,4,4,4,5,3,NaN,NaN,NaN,5,3,3,NaN,NaN,NaN,4
Sai Sampath,NaN,3,4,3,4,4,3,NaN,4,4,3,5,NaN,4,NaN,3
Suyendra,NaN,3,4,3,5,2,3,3,3,NaN,5,NaN,3,4,2,5
Sai Yallapragada,5,2,2,3,NaN,3,NaN,NaN,1,5,NaN,NaN,2,NaN,NaN,4
Akhilesh,NaN,NaN,4,3,5,4,NaN,NaN,NaN,5,NaN,3,NaN,NaN,NaN,5
Sundar Prasad,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,4
Evan Piercy,4,NaN,NaN,4,NaN,4,NaN,NaN,NaN,5,NaN,2,NaN,NaN,NaN,2
Jessica Fong,NaN,3,3,NaN,NaN,3,NaN,NaN,NaN,5,NaN,NaN,5,NaN,NaN,NaN
Onsiri Tapsarn,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN
Anirudh Thota,NaN,3,4,3,3,4,NaN,NaN,3,4,3,NaN,NaN,NaN,NaN,4
Greg Werner,5,3,3,NaN,NaN,4,4,NaN,NaN,5,4,5,4,NaN,NaN,4
Violeta Lee Fay,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,5,NaN,3,NaN,NaN,NaN,NaN,2

In [35]:
def get_recs(movie_name, M, num):

    import numpy as np
    reviews = []
    for title in M.columns:
        if title == movie_name:
            continue
        cor = pearson(M[movie_name], M[title])
        if np.isnan(cor):
            continue
        else:
            reviews.append((title, cor))
    
    reviews.sort(key=lambda tup: tup[1], reverse=True)
    return reviews[:num]

What movie is most Similar to 'The fault in our stars'

In [36]:
M.shape

(23, 16)

In [38]:
recs = get_recs('The Fault in Our Stars', M, 10)

In [39]:
recs[:1]

[('Transformers', 0.45574896698689149)]

In [40]:
recs[:5]

[('Transformers', 0.45574896698689149),
 ('The Hunger Games: Mockingjay - Part 1', 0.35345113364519332),
 ('How to Train your Dragon 2', 0.31922063429064507),
 ('Godzilla', 0.28158585271367448),
 ('Malificent', 0.25203347226782336)]

By comparing the above result we can say that similar film to the fault in the stars is Transformers

# Which movie(s) would you most like to see, based on your classmates experience?

In [41]:
#the movies I've seen
my_ratings = M.ix['Aishwarya reddy'].dropna()
#the movie I've rated the highest
my_ratings.sort(ascending=False)
#the name of the movie I've rated the highest
fav_movie = my_ratings.index[0]

In [42]:
print "Aishwarya favorite movie is:"
fav_movie

Aishwarya favorite movie is:

'Gone Girl'

In [43]:
recs = get_recs(fav_movie, M, 10)
recs[:10]

[('American Sniper', 0.28755406187583576),
 ('Malificent', 0.19629691272934724),
 ('Godzilla', 0.12894266332234663),
 ('Divergent', 0.1143739277494535),
 ('The Fault in Our Stars', 0.083747586093265186),
 ('Transformers', 0.051970097273089301),
 ('Big Hero 6', 0.008592321037107796),
 ('300: Rise of an Empire', 0.0026418811480546814),
 ('How to Train your Dragon 2', -0.048733776789327568),
 ('Guardians of the Galaxy', -0.062902451035339063)]

In [44]:
anti_recs = get_recs('300: Rise of an Empire', M, 25)

In [45]:
anti_recs[-10:]

[('Interstellar', 0.042874646285627219),
 ('The Lego Movie', 0.018374848408125945),
 ('Gone Girl', 0.0026418811480546814),
 ('Unbroken', 0.0),
 ('Malificent', -0.022299503865922835),
 ('Transformers', -0.034828748382057691),
 ('The Hunger Games: Mockingjay - Part 1', -0.13779914752061276),
 ('Godzilla', -0.21513245763527367),
 ('Guardians of the Galaxy', -0.2307064300131369),
 ('Big Hero 6', -0.34700188325127984)]

# For all the movies you haven't seen, can you predict how you'd rate them using your the class reviews?

In [46]:
UnRated_Movies = M.ix['Aishwarya reddy']
UnRated_Movies.sort()
for i in range(0, UnRated_Movies.count(), 1):
    UnRated_Movies.drop(UnRated_Movies.index[0], inplace=True)

In [47]:
UnRated_Movies

American Sniper   NaN
Big Hero 6        NaN
Divergent         NaN
Unbroken          NaN
Name: Aishwarya reddy, dtype: float64

comparing the correlation between me and my classmates

In [48]:
a= []
for i in range(0, 22, 1): 
    cor=pearson(M.ix[10], M.ix[i])
    print "(" + M.index[10] + " , " + M.index[i] + ") :", cor
    print "Correlation coefficient for :"
    a.append(cor)

(Aishwarya reddy , Mike) : 0.392465672422
Correlation coefficient for :
(Aishwarya reddy , HJ SONG) : 0.0768201234901
Correlation coefficient for :
(Aishwarya reddy , Ryan Hansen) : -0.0212958855
Correlation coefficient for :
(Aishwarya reddy , Olumuyiwa Durojaiye) : 0.193314770295
Correlation coefficient for :
(Aishwarya reddy , Charlie) : 0.379581786657
Correlation coefficient for :
(Aishwarya reddy , Sina Tuy) : 0.354569483426
Correlation coefficient for :
(Aishwarya reddy , Pavithra Shetty) : 0.13957263156
Correlation coefficient for :
(Aishwarya reddy , Sara Collins) : 0.188982236505
Correlation coefficient for :
(Aishwarya reddy , Jonathan Doll) : -0.110656667034
Correlation coefficient for :
(Aishwarya reddy , saikiran reddy) : 0.349989409523
Correlation coefficient for :
(Aishwarya reddy , Aishwarya reddy) : 1.0
Correlation coefficient for :
(Aishwarya reddy , Brant Mullinix) : -0.0697863157799
Correlation coefficient for :
(Aishwarya reddy , Sai Sampath) : 1.0
Correlation coefficient for :
(Aishwarya reddy , Suyendra) : -0.114210885717
Correlation coefficient for :
(Aishwarya reddy , Sai Yallapragada) : -0.0385758374905
Correlation coefficient for :
(Aishwarya reddy , Akhilesh) : -0.180036010804
Correlation coefficient for :
(Aishwarya reddy , Sundar Prasad) : 0.188982236505
Correlation coefficient for :
(Aishwarya reddy , Evan Piercy) : -0.112687233964
Correlation coefficient for :
(Aishwarya reddy , Jessica Fong) : 0.0845154254729
Correlation coefficient for :
(Aishwarya reddy , Onsiri Tapsarn) : nan
Correlation coefficient for :
(Aishwarya reddy , Anirudh Thota) : 0.24152294577
Correlation coefficient for :
(Aishwarya reddy , Greg Werner) : 0.425213603213
Correlation coefficient for :

In [65]:
def pred_rate(x, a):
    j=0
    k=0
    for i in range(0, 22, 1):
        if x.irow(i)>0 and a[i]>0: 
            j= j+(a[i]*x.irow(i))
            k= k+a[i]
        else:
            continue
    return j/k

In [66]:
for i in range(0, 4, 1): 
    x=M[UnRated_Movies.index[i]]
    rate=pred_rate(x, a)
    print UnRated_Movies.index[i] +": ", rate.round(1)

American Sniper:  4.1
Big Hero 6:  4.3
Divergent:  2.9
Unbroken:  5.0